@import "./variables.scss";

@media(prefers-color-scheme: dark) {
    body {
        background-color: $dark-background-color !important;
        color: $dark-text-color !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $dark-title-color;
    }

    .form-group {
        input {
            border-color: $dark-sub-background-color;
            color: $white;
        }

        textarea {
            border-color: $dark-sub-background-color;
            color: $white;
        }
    }

    header {
        border-color: $dark-sub-background-color;

        nav {
            button {
                span {
                    background-color: $white;
                }
            }

            ul {
                background-color: $dark-sub-background-color;
            }
        }

        a:last-of-type {
            svg {
                color: $white;
            }
        }
    }

    form.edit-profile {
        .form-group:nth-child(1) {
            label {
                &::before {
                    border-color: $dark-background-color;
                }
            }
        }
    }
}