// Color variables
$white: #fffffe;
$black: #16161a;

$primary-color: #7f5af0;
$secondary-color: #2cb67d;
$title-color: #16161a;
$text-color: #242629;
$background-color: #fffffe;
$sub-background-color: #94a1b2;

$dark-title-color: #fffffe;
$dark-text-color: #94a1b2;
$dark-background-color: #16161a;
$dark-sub-background-color: #242629;