<header>
    <nav>
        <button aria-label="Open and close menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>

    <h1>{{ pageTitle }}</h1>

    <a href="/profile">
        <img src="media/images/profile_default.svg" alt="Default profile picture">
    </a>
</header>