<header>
    <nav>
        <button aria-label="Open and close menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>

    <h1>Movies & Series App</h1>

    <a href="/profile">
        <svg>
            <use xlink:href="media/images/profile_default.svg#profile"></use>
        </svg>
    </a>
</header>